.vscode/extensions.json
.vscode/settings.json
.vscode/Pico-Stub/version.json
.vscode/Pico-Stub/stdlib/_ast.pyi
.vscode/Pico-Stub/stdlib/_collections_abc.pyi
.vscode/Pico-Stub/stdlib/_importlib_modulespec.pyi
.vscode/Pico-Stub/stdlib/_thread.pyi
.vscode/Pico-Stub/stdlib/abc.pyi
.vscode/Pico-Stub/stdlib/array.pyi
.vscode/Pico-Stub/stdlib/ast.pyi
.vscode/Pico-Stub/stdlib/binascii.pyi
.vscode/Pico-Stub/stdlib/builtins.pyi
.vscode/Pico-Stub/stdlib/cmath.pyi
.vscode/Pico-Stub/stdlib/errno.pyi
.vscode/Pico-Stub/stdlib/gc.pyi
.vscode/Pico-Stub/stdlib/hashlib.pyi
.vscode/Pico-Stub/stdlib/io.pyi
.vscode/Pico-Stub/stdlib/math.pyi
.vscode/Pico-Stub/stdlib/mmap.pyi
.vscode/Pico-Stub/stdlib/os.pyi
.vscode/Pico-Stub/stdlib/random.pyi
.vscode/Pico-Stub/stdlib/re.pyi
.vscode/Pico-Stub/stdlib/select.pyi
.vscode/Pico-Stub/stdlib/struct.pyi
.vscode/Pico-Stub/stdlib/sys.pyi
.vscode/Pico-Stub/stdlib/time.pyi
.vscode/Pico-Stub/stdlib/types.pyi
.vscode/Pico-Stub/stdlib/typing.pyi
.vscode/Pico-Stub/stdlib/uarray.pyi
.vscode/Pico-Stub/stdlib/ubinascii.pyi
.vscode/Pico-Stub/stdlib/uctypes.pyi
.vscode/Pico-Stub/stdlib/uerrno.pyi
.vscode/Pico-Stub/stdlib/uhashlib.pyi
.vscode/Pico-Stub/stdlib/uio.pyi
.vscode/Pico-Stub/stdlib/uos.pyi
.vscode/Pico-Stub/stdlib/urandom.pyi
.vscode/Pico-Stub/stdlib/ure.pyi
.vscode/Pico-Stub/stdlib/uselect.pyi
.vscode/Pico-Stub/stdlib/ustruct.pyi
.vscode/Pico-Stub/stdlib/usys.pyi
.vscode/Pico-Stub/stdlib/utime.pyi
.vscode/Pico-Stub/stdlib/uzlib.pyi
.vscode/Pico-Stub/stdlib/zlib.pyi
.vscode/Pico-Stub/stdlib/_typeshed/__init__.pyi
.vscode/Pico-Stub/stdlib/collections/__init__.pyi
.vscode/Pico-Stub/stdlib/importlib/__init__.pyi
.vscode/Pico-Stub/stdlib/importlib/abc.pyi
.vscode/Pico-Stub/stubs/btree/btree.pyi
.vscode/Pico-Stub/stubs/ds18x20/ds18x20.pyi
.vscode/Pico-Stub/stubs/framebuf/framebuf.pyi
.vscode/Pico-Stub/stubs/json/json.pyi
.vscode/Pico-Stub/stubs/machine/machine.pyi
.vscode/Pico-Stub/stubs/micropython/micropython.pyi
.vscode/Pico-Stub/stubs/onewire/onewire.pyi
.vscode/Pico-Stub/stubs/rp2/rp2.pyi
.vscode/Pico-Stub/stubs/typing_extensions/typing_extensions.pyi
.vscode/Pico-Stub/stubs/uasyncio/__init__.pyi
.vscode/Pico-Stub/stubs/uasyncio/core.pyi
.vscode/Pico-Stub/stubs/uasyncio/event.pyi
.vscode/Pico-Stub/stubs/uasyncio/funcs.pyi
.vscode/Pico-Stub/stubs/uasyncio/lock.pyi
.vscode/Pico-Stub/stubs/uasyncio/stream.pyi
.vscode/Pico-Stub/stubs/uasyncio/task.pyi
.vscode/Pico-Stub/stubs/ujson/ujson.pyi
